.upload_imgs {
    float: left;
}

.upload_div {
    float: left;
    height: 74px;
    width: 74px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
    position: relative;
}

.upload_imgs img {
    float: left;
    height: 74px;
    width: 74px;
}

.close_link {
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    background-color: #FF0000;
    text-align: center;
    float: right;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 0px;
}

.upload_div a:visited {
    text-decoration: none;
}

.upload_div a:link {
    text-decoration: none;
}
/*上传按钮*/
.uploader_input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.uploader_input_wrp {
    float: left;
    height: 72px;
    width: 72px;
    margin-top: 10px;
    margin-left: 10px;
    display: inline;
    position: relative;
    border: 1px solid #D9D9D9;
}

    .uploader_input_wrp:before {
        width: 2px;
        height: 39.5px;
    }

    .uploader_input_wrp:after {
        width: 39.5px;
        height: 2px;
    }

    .uploader_input_wrp:before, .uploader_input_wrp:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background-color: #D9D9D9;
    }
